<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>
<button class="social-button"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> <%= link_to "Follow me", "https://twitter.com/Soyoag" %> </button>
